@charset "utf-8";


@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
 body {
    font-size:8px;
  }
  .footmark{
    font-size:8px;
  }
  .control-label{
	  padding-top:10px !important;
  }
 
 .row .fai-cols .form-group {
    margin-bottom: 0px;
 }
 .row .fai-header-cols .form-group .control-label{
	padding-top:0px; 
 }
 
 .upper-right{
	 height:210px !important;
 }
 
 .inspectionresults{
	 height:280px;
 }
 
 .additionalinstructions{
	 height:80px;
 }
 .form-group-inspectionresults{
	 margin-bottom:0px;
 }
 
  .form-group-last{
	 margin-bottom:0px;
 }
 
  #finalresults{
	  width:40%;
  }
  
  #dmrref{
	  width:30%;
  }
  
  .row .fai-cols .form-group .control-label {
	  padding-top:8px;
	  text-align:right;
  }  
 
  .inspectionresults{
	 width:100%; 
	 height:280px;	
  } 
  .additionalinstructions{
	 width:100%; 
	 height:80px;
  }
	
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
 body {
    font-size:7px;
  }
  .corp-images{
	  display:none;
  }
  .footmark{
    font-size:4px;
  }
  body {
	-webkit-transform: rotate(90deg);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0; 
 }
}



/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  body {
    font-size:10px;
  }
  .footmark{
    font-size:10px;
  }
  #finalresults{
	  width:48%;
  }
  
  #dmrref{
	  width:33%;
  }
  
  .row .fai-cols .form-group .control-label {
	  padding-top:8px;
  } 
  
   .row .fai-header-cols .form-group .control-label {
	  padding-top:8px;
  }
  
   .inspectionresults{
	 width:100%; 
	 height:280px;	
  } 
  .additionalinstructions{
	 width:100%; 
	 height:80px;
  } 
  .ajax-upload-dragdrop {
	padding: 3px 10px 0px 10px;
	width:360px !important;
  }  
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body {
    font-size:10px;
  }
  .corp-images{
	  display:none;
  }
  .footmark{
    font-size:8px;
  }
  #finalresults{
	  width:40%;
  }
  
  #dmrref{
	  width:33%;
  }
  
  .row .fai-cols .form-group .control-label {
	  padding-top:8px;
  }  
    
   .row .fai-header-cols .form-group .control-label {
	  padding-top:8px;
  }  
  
  .inspectionresults{
	 width:100%; 
	 height:280px;	
  } 
  .additionalinstructions{
	 width:100%; 
	 height:80px;
  } 
  .ajax-upload-dragdrop {
	padding: 3px 10px 0px 10px;
	width:360px !important;
  }  
  
  
}

/* iPhone 5 ----------- */
@media only screen and (-webkit-device-pixel-ratio: 2) and (max-device-height: 568px) and (min-device-width: 320px) and (orientation: landscape)
{
body {
    font-size:10px;
  }
  .footmark{
    font-size:6px  !important;
  }
  .control-label{
	  padding-top:7px !important;
  }
 .row .fai-cols .form-group {
    margin-bottom: 0px;
 }
 .row .fai-header-cols .form-group .control-label{
	padding-top:0px; 
 }
 
 .upper-right{
	 height:210px !important;
 }
 
   .inspectionresults{
	 height:280px;	
  } 
  .additionalinstructions{
	 height:80px;
  }
 
 .form-group-inspectionresults{
	 margin-bottom:0px;
 }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
body {
    font-size:10px;
  }
  .footmark{
    font-size:8px;
  }
  .control-label{
	  padding-top:8px !important;
  }
 .row .fai-cols .form-group {
    margin-bottom: 0px;
 }
 .row .fai-header-cols .form-group .control-label{
	padding-top:0px; 
 }
 
 .upper-right{
	 height:210px !important;
 }
 
  .inspectionresults{
	 height:280px;	
  } 
  .additionalinstructions{
	 height:80px;
  }
 
 .form-group-inspectionresults{
	 margin-bottom:0px;
 }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
body {
    font-size:10px;
  }
  .footmark{
    font-size:7px;
  }
  .control-label{
	  padding-top:8px !important;
  }
 .row .fai-header-cols .form-group{
	margin-bottom: 0px;
  }

 .row .fai-header-cols .form-group .control-label{
	padding-top:0px; 
 }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

