  textarea {
    box-sizing: border-box;
    resize: none;
	overflow:hidden;	 
}
 .email-text{
	 min-width:600px;
 }

.email-send-over{
  border:solid 1px #1E06F0;
}
  
.email-send-out{
  border:solid 1px #B4AFAF;
}
  
.email_send_btn_active{
	background-color:#B4AFAF;
	color:#fff;
}
	
.to-box{
	width:50px;
	text-align:center;
	padding-top:4px;
	display:inline-block;
	vertical-align:top;
	border:solid 1px #B4AFAF;
	font-size:12px;

}
.subject-box{
	text-align:center;
	padding-top:4px;
	display:inline-block;
	vertical-align:top;
	font-size:12px;
}

.attached-box{
	text-align:center;
	padding-top:4px;
	display:inline-block;
	vertical-align:top;
	font-size:12px;
}

.email-no-padding{
	padding-left:0;
	padding-right:0;
}

.email-container {
    /*
    box-shadow: 0 0 30px black;
	*/
	display:none;
	height:auto; 
	width:605px; 
	border:solid 1px #000;
	position:absolute; 
	background-color:#EFEDED;
	z-index:9000;
	box-shadow: 0 0 30px #000;
	padding:0px 0px 3px 0px;
}

.white-bkg{
	 background-color:#fff;
}

.emp{
	font-size:12px;
}

.bottom-border{
	border-bottom:solid 1px #ddd;
}

.left-border{
	border-left:solid 1px #ddd;
}

.right-border{
	border-right:solid 1px #ddd;
}

.col-padding{
	padding-left:5px;
}

.user-selected-color{
	background-color:#331088;
	color:#fff;
}
.mouseOver{
	background-color:#F0EAEA;
}

.attachment-attach{
	color:#09F776;
}
.attachment-unattach{
	color:#ff0000;
}

.email-validatrion-error{
	position:absolute; 		
	width:698px;
	z-index:9000; 
	background-color:#fff;	
	margin:0px 5px 0px 2px;
	/*	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	
	padding:3px 5px 0px 13px;
	text-align:left;
	font-size:14px;
	*/
}

.email_close_btn{
	position:absolute;
	top:0;
	left:680px; 
	display:none;
}