  .nicEdit-main{
	  height:300px;
	  overflow:auto !important;
	  text-align:left;
	  padding:5px;
  }
  .email-send-over{
	  border:solid 1px #1E06F0;
  }
  
  .email-send-out{
	  border:solid 1px #B4AFAF;
  }
  
  .email-blackout
	{
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 2000;
		background-color: #000000;
		opacity: 0.5;
		filter: alpha(opacity=70);
		display:none;
		
	}
	.email-textarea {
		overflow-y:auto;
		height:300px; 
		width:699px;
		margin-top:5px;
		border:solid 1px #B4AFAF;
	}

	.email-subject {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		line-height:12px;
		resize:none;
		height:30px;
		width:600px;
		margin:0px;
	}	
	.email-validatrion-error{
		position:absolute; 		
		width:698px;
		z-index:9000; 
		background-color:#fff;	
		margin:0px 5px 0px 2px;
		/*	
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		
		padding:3px 5px 0px 13px;
		text-align:left;
		font-size:14px;
		*/
	}
	
	.email_close_btn{
		position:absolute;
		top:0;
		left:680px; 
		display:none;
	}
	
	.email-footer-buttons{
		width:738px; 
		height:50px; 
		background-color:#ddd; 
		margin-top:20px; 
		padding:5px 20px 0px 0px; 
		text-align:right;
	}
	.email-form{
		visibility:hidden;
		position:fixed; 
		top:120px;
		left:100px; 
		width:738px;
		z-index:2001; 
		background-color:#fff;
	}
	.email_header{
		width:738px; 
		height:50px; 
		background-color:#2718F0; 
		padding:13px 0px 0px 15px;
	}
	.email_send_btn_active{
		background-color:#B4AFAF;
		color:#fff;
	}

