@charset "utf-8";
/* CSS Document */

html {height:100%;}
body {background-color:#fff;height:100%;}
table {width:100%}
h2 {color:#286090;padding-bottom:25px;}
h4 {color:#7d7d7d;font-size:20px;margin-bottom:15px;}
h5 {color:#7d7d7d;font-size:18px;margin-bottom:0px;}
ul li {list-style:none;}

.container-main {background:#ffffff;box-shadow: 0px 4px 6px -5px #000000;padding:10px 20px 20px 20px;}
.container-login {background:#ffffff;box-shadow: 0px 4px 6px -5px #000000;min-height:450px;padding:0px;}
.container-login.col-centered {margin-top:-50px;}
.container-table {display: table;height:100%;}
.col-centered {float: none;margin: 0 auto;}
.col-login-left {background-color:#f0f0f0;/*background-color:#e9e9e9;*/padding:65px 30px 30px 30px;}
.col-login-right {padding:35px 30px 30px 30px;}
.col-login-left, .col-login-right {min-height:450px;color:#7d7d7d;}
.col-login-left .col-lg-4{padding-left:5px;padding-right:5px;}
.col-login-right .col-lg-4{padding-left:5px;padding-right:5px;}
.col-no-pad-r {padding-right:0px;}
.col-login-error {padding-left:0px;padding-right:0px;margin-bottom:60px;}
.col-login-exceed {background:#ffffff;padding:15px 20px 20px 20px;}
.content-login {display:table-cell;vertical-align:middle;}
.brand-login {color:#7d7d7d;font-size:16px;font-weight:bold;padding-left:20px;padding-top:20px;padding-bottom:50px;}
.brand-login span {padding-left:5px;}
.brand-login-sm {color:#7d7d7d;font-size:12px;font-weight:bold;padding-left:0px;padding-top:0px;padding-bottom:50px;}
.security-warning {color:#494949;font-size:10px;line-height:1.2;padding-top:50px;}
.register-phone {padding-top:5px;font-size:12px;}
.error-field {font-size:10px;color:red;}
.form-marg {margin-bottom:40px;}
.glyphicon {top:2px;}
.cust_tag_cont {margin-top:30px;}
.cust_tag_cont span.cust_tag {border: 3px solid #337ab7;padding:5px 8px 5px 8px;border-radius:5px;background:#ecf5fc;}
.cust_tag_cont .col-lg-5 {padding-right:0px;}
#record-count {font-size:14px;}
.no-records {padding-left:10px;padding-bottom:15px;}
.inv-detail-cont1 {margin-top:25px;}
.inv-detail-cont2 {margin-top:15px;}
.inv-detail-cont1 .col-lg-2.inv-detail-col {padding-left:0px;padding-right:0px;}
.inv-detail-cont1 .col-lg-2.inv-detail-col p {color:#7d7d7d;}
.inv-detail-cont1 p.inv-address, .inv-detail-cont2 p.inv-address {text-transform:uppercase;}
.no-pad-search {padding-left:0px;padding-right:0px;margin-top:35px;}
.no-pad {padding-left:0px;padding-right:0px;}
#User_IsActive_Label {outline:0;}
table#INV_Results input[type=checkbox], table#SO_Results input[type=checkbox] {margin: 0 auto;display: block;margin-top:4px;transform:scale(1.3, 1.3);}
input#pay-invoice {padding-right:25px;padding-left:25px;margin-bottom:15px;}
.sep-line {border-top:2px solid #ededed;padding-top:27px;margin-top:17px;}
.form-horizontal .Card_Cont .control-label {text-align:left;padding-left:10px;padding-right:0px;}
.Card_Cont .form-group {margin-bottom:10px;}
.card-amount-confirm {border: 2px solid #c9e3f2;font-size:16px;font-weight:bold;padding:10px 10px;}
.alert-info, .alert-danger {margin-bottom:5px;}
.paypal-img {margin-top:-13px;}
.card-img {height: 34px;position: absolute;right: 21px;top:6px;}
.card-img img {box-shadow:0px 2px 2px -2px #000000;width:35px;}
.line-break {border-bottom:1px solid #dddddd;margin-bottom:15px;padding-top:30px;}
.line-break.pad-btm {margin-bottom:40px;}
.red-text {color:red;}
.caret-select {position: absolute;right: 22px;top: 16px;}
.selected_company, .selected_apps {padding-left:5px;display: block;overflow: hidden;height: 20px;}
.dropdown-menu.company_dropdown {left:15px;}
.cart_row input[type=text] {padding-left:5px;border:1px solid #ccc;border-radius:4px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.cvv2-img {margin-bottom:10px;padding:20px;border: 2px solid #c9e3f2;}

input:-webkit-autofill,
textarea:-webkit-autofill, 
select:-webkit-autofill {box-shadow: 0 0 0px 1000px #ffffff inset;background-color:#ffffff;}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {box-shadow: 0 0 0px 1000px #ecf8fc inset;background-color:#ecf8fc;}

/* Modal Styles */
.vertical-alignment-helper {display:table;height: 100%;width: 100%;pointer-events:none;}
.vertical-align-center {display: table-cell;vertical-align: middle;pointer-events:none;}
.modal-content {width:inherit;height:inherit;margin: 0 auto;pointer-events:all;}
.modal-header {background-color: #337ab7;padding-left:25px;}
.modal-header h4 {color:#ffffff;}
.modal-footer {/*background-color:#ededed;*/background-color:#dddddd;height:65px;}
.modal-body {padding:25px 25px 20px 25px;}
.modal-body .panel-body .table {margin-bottom:0px;}
.modal-body .panel {margin-bottom:30px;}
.modal-body .panel-body {padding-bottom:5px;}
.modal-body p {padding-left:15px;margin-bottom:5px;}
.modal-dialog.modal-confirm {width:400px;}
.modal-dialog.modal-confirm .modal-header {background-color:#000000;}
.modal-dialog.modal-message {width:450px;}
.modal-dialog.modal-message .modal-header {background-color:#000000;}
/* Modal Styles */

/* DatePicker Styles */
.cal-cont {float:right;margin-left:10px;font-size:16px;cursor:pointer;}
.cal-field.form-control[readonly] {background-color:#ffffff;cursor:pointer;}
div.ui-datepicker {font-size:10px;}
/* DatePicker Styles */

/* Button Styles */
.btn {box-shadow: 1px 1px 0px #888888;}
.btn-primary {border-bottom: 2px solid #2e6da4;}
.btn-submit {margin-top:30px;margin-bottom:20px;}
/* Button Styles */

/* Navigation Styles */
.navbar {background:#ffffff;box-shadow: 0px 4px 5px -5px #000000;}
.navbar a, .navbar .navbar-brand {color:#7d7d7d;font-size:14px;font-weight:bold;}
.navbar .navbar-brand.navbar-logo {padding-left:0px;padding-top:7px;}
.navbar .container {padding-left:0px;padding-right:0px;}
.navbar-nav>li>.dropdown-menu {margin-top: 1px;margin-right: -1px;}
/* Navigation Styles */

/* Sub Table Styles */
.table {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.table>thead>tr {background-color:#ecf8fc;color:#4a889f;}
.table>thead>tr>th {border-bottom:2px solid #c9e3f2;padding-bottom:4px;padding-top:8px;}
.table>tbody>tr.ord-row td, .table>tbody>tr.inv-row td {padding:0px;border-top:1px solid #fff;}
.table>tbody>tr.ord-row td table tr td, .table>tbody>tr.ord-row td table tr th, .table>tbody>tr.inv-row td table tr td, .table>tbody>tr.inv-row td table tr th {padding:4px 0px 4px 0px;border-top: 1px solid #ddd;}
.table>tbody>tr.ord-row td table, .table>tbody>tr.inv-row td table {margin-bottom:12px;}
.table>tbody>tr.ord-row td table tr th:first-child, .table>tbody>tr.ord-row td table tr td:first-child, .table>tbody>tr.inv-row td table tr th:first-child, .table>tbody>tr.inv-row td table tr td:first-child {padding-left:10px;}
.table>tbody>tr.SO_Result_Rows:hover, .table>tbody>tr.INV_Result_Rows:hover {cursor:pointer;/*background-color:#ecf5fc;*/}
.table>tbody>tr.blank_row td {font-weight:bold;border-top:0px solid #ffffff;padding-top:3px;padding-bottom:0px;color:#7d7d7d;}
.table>tbody>tr.blank_row.blank_row_first td{padding-top:10px;}
.table>tbody>tr.inv_lines_row td {border-bottom:1px solid #ddd;}
.table>tbody>tr.total-row>td {border-top: 1px solid #c9e3f2;padding-top:12px;}
/* Sub Table Styles */

/* Form Validation */
div.form-message {margin-top:-15px;margin-bottom:25px;}
div.form-message ul {list-style:circle inside none;padding:10px;margin-bottom:0px;}
div.form-message.form-error {color:#D41B3E;background:#f1e1e4;border:1px solid #D41B3E;}
div.form-message.form-success {color:#468847;background:#DFF0D8;border:1px solid #468847;}
/* Form Validation */

/* Spinner Styles 
.loader,.loader:before,.loader:after {background: #000000;-webkit-animation: load1 1s infinite ease-in-out;animation: load1 1s infinite ease-in-out;width: 1em;height: 4em;}
.loader:before,.loader:after {position: absolute;top: 0;content: '';}
.loader:before {left: -1.5em;-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.loader {color: #ffffff;text-indent: -9999em;margin: 88px auto;position: relative;font-size: 11px;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
.loader:after {left: 1.5em;}
@-webkit-keyframes load1 {
  0%,80%,100% {box-shadow: 0 0;height: 4em;}
  40% {box-shadow: 0 -2em;height: 5em;}
}
@keyframes load1 {
  0%,80%,100% {box-shadow: 0 0;height: 4em;}
  40% {box-shadow: 0 -2em;height: 5em;}
}*/
/* Spinner Styles */
.load-cont{height: 135px;
    padding-top: 1px;
    /*background: #ededed;*/
	background:#dddddd;
    margin-right: 110px;
	margin-left: 110px;
    border-radius: 15px;
    margin-top: 15px;
}
.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin-top:48px;
  margin-bottom:88px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


/* spinnger stlyes */

@media all and (max-width: 1182px) {
    .col-login-right .col-lg-4{padding-left:15px;padding-right:15px;}
	.paypal-img {margin-top:30px;}
	.cvv2 {padding-right:15px;margin-top:30px;text-align:right;}
}