<cfsavecontent variable = "html">
<cfoutput> 
<div style="margin:0px 5px 0px 5px;">
	<p style="font-size:12px;">Good afternoon,</p>
	<p style="font-size:12px;">The attached list of FAI's that are currently awaiting review and closure by QE's.</p>
    <p style="font-size:12px;">Regards,</p>
	<p style="font-size:12px;">David Day<br />QA Inspection Leader<br />x4058</p>
 </div>
 </cfoutput>
</cfsavecontent>

<cfset emailcontent = html>
<cfset subject = 'FAI''s awaiting QE''s'>
<cfset to_addrs = "rfretz@hme.com;mhoward@hme.com;tjordan@hme.com;rgaboury@hme.com">
   
  



 