<cfinclude template="./emailAddressSettings.cfm">
 <cfset subject ="Awaiting QE's Report">
 <cfset to_addrs = #emailAddressToSendTo#>
 <cfset cc_addrs = "">

<cfsavecontent variable = "html"> 
Awaiting for content.
</cfsavecontent>
<cfset emailcontent = html>

