<h3>CreateDate Example</h3> 
<cfif IsDefined("form.year")> 
<p>Your date value, generated with CreateDate:</p> 
<cfset StartDate = CreateDate("2018", 06, "26")> 
<cfset EndDate = CreateDate("2018", 06, "28")> 

<cfoutput> 
<!---#now()#
#datecompare(now(),StartDate,"d")#
#datecompare(EndDate, now(),"d")#--->
<cfif datecompare(now(),StartDate,"d") ge 0 AND datecompare(EndDate, now(),"d") le 0>
  	OK 
 <cfelse>
	hack
 </cfif>

</cfoutput> 
</cfif> 
<cfform action="datecompare.cfm" METHOD="POST"> 
<p>Enter the year, month, and day, as integers: 
<pre> 
Year<cfinput type="Text" name="year" value="1998" validate="integer" required="Yes"> 
Month<cfinput type="Text" name="month" value="6" validate="integer" required="Yes"> 
Day<cfinput type="Text" name="day" value="8" validate="integer" required="Yes"> 
</pre> 
<p><input type="Submit" name=""> <input type="RESET"> 
</cfform>
