<style>


	table.cfdump_wddx,
	table.cfdump_xml,
	table.cfdump_struct,
	table.cfdump_varundefined,
	table.cfdump_array,
	table.cfdump_query,
	table.cfdump_cfc,
	table.cfdump_object,
	table.cfdump_binary,
	table.cfdump_udf,
	table.cfdump_udfbody,
	table.cfdump_udfarguments {
		font-size: xx-small;
		font-family: verdana, arial, helvetica, sans-serif;
	}

	table.cfdump_wddx th,
	table.cfdump_xml th,
	table.cfdump_struct th,
	table.cfdump_varundefined th,
	table.cfdump_array th,
	table.cfdump_query th,
	table.cfdump_cfc th,
	table.cfdump_object th,
	table.cfdump_binary th,
	table.cfdump_udf th,
	table.cfdump_udfbody th,
	table.cfdump_udfarguments th {
		text-align: left;
		color: white;
		padding: 5px;
	}

	table.cfdump_wddx td,
	table.cfdump_xml td,
	table.cfdump_struct td,
	table.cfdump_varundefined  td,
	table.cfdump_array td,
	table.cfdump_query td,
	table.cfdump_cfc td,
	table.cfdump_object td,
	table.cfdump_binary td,
	table.cfdump_udf td,
	table.cfdump_udfbody td,
	table.cfdump_udfarguments td {
		padding: 3px;
		background-color: #ffffff;
		vertical-align : top;
	}

	table.cfdump_wddx {
		background-color: #000000;
	}
	table.cfdump_wddx th.wddx {
		background-color: #444444;
	}


	table.cfdump_xml {
		background-color: #888888;
	}
	table.cfdump_xml th.xml {
		background-color: #aaaaaa;
	}
	table.cfdump_xml td.xml {
		background-color: #dddddd;
	}

	table.cfdump_struct {
		background-color: #0000cc ;
	}
	table.cfdump_struct th.struct {
		background-color: #4444cc ;
	}
	table.cfdump_struct td.struct {
		background-color: #ccddff;
	}

	table.cfdump_varundefined {
		background-color: #CC3300 ;
	}
	table.cfdump_varundefined th.varundefined {
		background-color: #CC3300 ;
	}
	table.cfdump_varundefined td.varundefined {
		background-color: #ccddff;
	}

	table.cfdump_array {
		background-color: #006600 ;
	}
	table.cfdump_array th.array {
		background-color: #009900 ;
	}
	table.cfdump_array td.array {
		background-color: #ccffcc ;
	}

	table.cfdump_query {
		background-color: #884488 ;
	}
	table.cfdump_query th.query {
		background-color: #aa66aa ;
	}
	table.cfdump_query td.query {
		background-color: #ffddff ;
	}


	table.cfdump_cfc {
		background-color: #ff0000;
	}
	table.cfdump_cfc th.cfc{
		background-color: #ff4444;
	}
	table.cfdump_cfc td.cfc {
		background-color: #ffcccc;
	}


	table.cfdump_object {
		background-color : #ff0000;
	}
	table.cfdump_object th.object{
		background-color: #ff4444;
	}

	table.cfdump_binary {
		background-color : #eebb00;
	}
	table.cfdump_binary th.binary {
		background-color: #ffcc44;
	}
	table.cfdump_binary td {
		font-size: x-small;
	}
	table.cfdump_udf {
		background-color: #aa4400;
	}
	table.cfdump_udf th.udf {
		background-color: #cc6600;
	}
	table.cfdump_udfarguments {
		background-color: #dddddd;
	}
	table.cfdump_udfarguments th {
		background-color: #eeeeee;
		color: #000000;
	}

</style> <script language="javascript">


// for queries we have more than one td element to collapse/expand
	var expand = "open";

	dump = function( obj ) {
		var out = "" ;
		if ( typeof obj == "object" ) {
			for ( key in obj ) {
				if ( typeof obj[key] != "function" ) out += key + ': ' + obj[key] + '<br>' ;
			}
		}
	}


	cfdump_toggleRow = function(source) {
		//target is the right cell
		if(document.all) target = source.parentElement.cells[1];
		else {
			var element = null;
			var vLen = source.parentNode.childNodes.length;
			for(var i=vLen-1;i>0;i--){
				if(source.parentNode.childNodes[i].nodeType == 1){
					element = source.parentNode.childNodes[i];
					break;
				}
			}
			if(element == null)
				target = source.parentNode.lastChild;
			else
				target = element;
		}
		//target = source.parentNode.lastChild ;
		cfdump_toggleTarget( target, cfdump_toggleSource( source ) ) ;
	}

	cfdump_toggleXmlDoc = function(source) {

		var caption = source.innerHTML.split( ' [' ) ;

		// toggle source (header)
		if ( source.style.fontStyle == 'italic' ) {
			// closed -> short
			source.style.fontStyle = 'normal' ;
			source.innerHTML = caption[0] + ' [short version]' ;
			source.title = 'click to maximize' ;
			switchLongToState = 'closed' ;
			switchShortToState = 'open' ;
		} else if ( source.innerHTML.indexOf('[short version]') != -1 ) {
			// short -> full
			source.innerHTML = caption[0] + ' [long version]' ;
			source.title = 'click to collapse' ;
			switchLongToState = 'open' ;
			switchShortToState = 'closed' ;
		} else {
			// full -> closed
			source.style.fontStyle = 'italic' ;
			source.title = 'click to expand' ;
			source.innerHTML = caption[0] ;
			switchLongToState = 'closed' ;
			switchShortToState = 'closed' ;
		}

		// Toggle the target (everething below the header row).
		// First two rows are XMLComment and XMLRoot - they are part
		// of the long dump, the rest are direct children - part of the
		// short dump
		if(document.all) {
			var table = source.parentElement.parentElement ;
			for ( var i = 1; i < table.rows.length; i++ ) {
				target = table.rows[i] ;
				if ( i < 3 ) cfdump_toggleTarget( target, switchLongToState ) ;
				else cfdump_toggleTarget( target, switchShortToState ) ;
			}
		}
		else {
			var table = source.parentNode.parentNode ;
			var row = 1;
			for ( var i = 1; i < table.childNodes.length; i++ ) {
				target = table.childNodes[i] ;
				if( target.style ) {
					if ( row < 3 ) {
						cfdump_toggleTarget( target, switchLongToState ) ;
					} else {
						cfdump_toggleTarget( target, switchShortToState ) ;
					}
					row++;
				}
			}
		}
	}

	cfdump_toggleTable = function(source) {

		var switchToState = cfdump_toggleSource( source ) ;
		if(document.all) {
			var table = source.parentElement.parentElement ;
			for ( var i = 1; i < table.rows.length; i++ ) {
				target = table.rows[i] ;
				cfdump_toggleTarget( target, switchToState ) ;
			}
		}
		else {
			var table = source.parentNode.parentNode ;
			for ( var i = 1; i < table.childNodes.length; i++ ) {
				target = table.childNodes[i] ;
				if(target.style) {
					cfdump_toggleTarget( target, switchToState ) ;
				}
			}
		}
	}

	cfdump_toggleSource = function( source ) {
		if ( source.style.fontStyle == 'italic' || source.style.fontStyle == null) {
			source.style.fontStyle = 'normal' ;
			source.title = 'click to collapse' ;
			return 'open' ;
		} else {
			source.style.fontStyle = 'italic' ;
			source.title = 'click to expand' ;
			return 'closed' ;
		}
	}

	cfdump_toggleTarget = function( target, switchToState ) {
		if ( switchToState == 'open' )	target.style.display = '' ;
		else target.style.display = 'none' ;
	}

	// collapse all td elements for queries
	cfdump_toggleRow_qry = function(source) {
		expand = (source.title == "click to collapse") ? "closed" : "open";
		if(document.all) {
			var nbrChildren = source.parentElement.cells.length;
			if(nbrChildren > 1){
				for(i=nbrChildren-1;i>0;i--){
					target = source.parentElement.cells[i];
					cfdump_toggleTarget( target,expand ) ;
					cfdump_toggleSource_qry(source);
				}
			}
			else {
				//target is the right cell
				target = source.parentElement.cells[1];
				cfdump_toggleTarget( target, cfdump_toggleSource( source ) ) ;
			}
		}
		else{
			var target = null;
			var vLen = source.parentNode.childNodes.length;
			for(var i=vLen-1;i>1;i--){
				if(source.parentNode.childNodes[i].nodeType == 1){
					target = source.parentNode.childNodes[i];
					cfdump_toggleTarget( target,expand );
					cfdump_toggleSource_qry(source);
				}
			}
			if(target == null){
				//target is the last cell
				target = source.parentNode.lastChild;
				cfdump_toggleTarget( target, cfdump_toggleSource( source ) ) ;
			}
		}
	}

	cfdump_toggleSource_qry = function(source) {
		if(expand == "closed"){
			source.title = "click to expand";
			source.style.fontStyle = "italic";
		}
		else{
			source.title = "click to collapse";
			source.style.fontStyle = "normal";
		}
	}

</script> 
			<table class="cfdump_struct">
			<tr><th class="struct" colspan="2" onClick="cfdump_toggleTable(this);" style="cursor:pointer;" title="click to collapse">struct</th></tr> 
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">approvedby</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">attachments</td>
					<td>
					[] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">buyer</td>
					<td>
					A. Wallen 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">closurecomments</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">company1</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">datecompleted</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">dateinengineering</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">dateinmanufacturing</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">dateinqalab</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">dateinsmt</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">datereceived</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">datesenttoqe</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">daystocomplete</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">description</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">distributormanufacturer</td>
					<td>
					ACCURATE MOLDED PLASTICS INC. 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">dmrref</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">engapprover</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">engineeringdatecomplete</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">engineeringresults</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">engqtyreceived</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">failevel</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">faistatus</td>
					<td>
					IN WORK 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">faitype</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">finalresults</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">id</td>
					<td>
					2765 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">inspector</td>
					<td>
					C. Karjanis 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">itemnumber</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">lotqtyrecd</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">manfpassfail</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">manfresults</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">manufacturingcompletedate</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">manufacturingnewpn</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">manufacturingnewpn2</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">needdate</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">pilot</td>
					<td>
					0 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">po</td>
					<td>
					22222 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">project</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">projectengineer</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">qalabdatecomplete</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">qatestlabnewpn</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">qatestlabnewpn2</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">qatestlabpassfail</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">qatestlabreport</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">reasonforfai</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">revision</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">ricompletedate</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">rievalutionresults</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">ripassfail</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">riqtyinspected</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">riqtyrejected</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">rmonumber</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">smtcompletedate</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">smtnewpn</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">smtnewpn2</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">smtpassfail</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">smtqtyreceived</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">smtresults</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">supplierreport</td>
					<td>
					0 
					</td>
					</tr>
					
					<tr>
					<td class="struct" onClick="cfdump_toggleRow(this);" style="cursor:pointer;" title="click to collapse">thapassfail</td>
					<td>
					[empty string] 
					</td>
					</tr>
					
			</table>
		{"results":"OK"}
</td></td></td></th></th></th></tr></tr></tr></table></table></table></a></abbrev></acronym></address></applet></au></b></banner></big></blink></blockquote></bq></caption></center></cite></code></comment></del></dfn></dir></div></div></dl></em></fig></fn></font></form></frame></frameset></h1></h2></h3></h4></h5></h6></head></i></ins></kbd></listing></map></marquee></menu></multicol></nobr></noframes></noscript></note></ol></p></param></person></plaintext></pre></q></s></samp></script></select></small></strike></strong></sub></sup></table></td></textarea></th></title></tr></tt></u></ul></var></wbr></xmp>
<style type="text/css">
.cfdebug
{
	color:black; 
	background-color:white; 
	font-family:"Times New Roman", Times, serif; 
	font-size:small
}

.cfdebuglge
{
	color:black; 
	background-color:white; 
	font-family:"Times New Roman", Times, serif; 
	font-size:medium;
}

a.cfdebuglink {color:blue; background-color:white }
</style>
<table class="cfdebug" bgcolor="white">
<tr>
	<td>

		<p class="cfdebug"><hr/>
		<b class="cfdebuglge"><a name="cfdebug_top">Debugging Information</a></b>
		<table class="cfdebug">
		<tr>
			<td class="cfdebug" nowrap>ColdFusion Server Developer</td>
			<td class="cfdebug">2016,0,0,298074</td>
		</tr>
		<tr>
			<td class="cfdebug" nowrap> Template </td>
			<td class="cfdebug">/fai/ajax/send_new_fai_alert_email.cfm</td>
		</tr>
		<tr>
			<td class="cfdebug" nowrap> Time Stamp </td>
			<td class="cfdebug">02-Feb-17 06:49 PM</td>
		</tr>
		<tr>
			<td class="cfdebug" nowrap> Locale </td>
			<td class="cfdebug">English (US)</td>
		</tr>
		<tr>
			<td class="cfdebug" nowrap> User Agent </td>
			<td class="cfdebug">Mozilla&#x2f;5.0 &#x28;Windows NT 10.0&#x3b; Win64&#x3b; x64&#x29; AppleWebKit&#x2f;537.36 &#x28;KHTML, like Gecko&#x29; Chrome&#x2f;55.0.2883.87 Safari&#x2f;537.36</td>
		</tr>
		<tr>
			<td class="cfdebug" nowrap> Remote IP </td>
			<td class="cfdebug">127.0.0.1</td>
		</tr>
		<tr>
			<td class="cfdebug" nowrap> Host Name </td>
			<td class="cfdebug">127.0.0.1</td>
		</tr>
		</table>
		</p>
		
			<style type="text/css">
            .template
            {	color: black; 
            	font-family: "Times New Roman", Times, serif; 
            	font-weight: normal; }
            .template_overage
            {	color: red; 
            	background-color: white; 
            	font-family: "Times New Roman", Times, serif; 
            	font-weight: bold; }
            </style>
       		<p class="cfdebug"><hr/><b class="cfdebuglge"><a name="cfdebug_execution">Execution Time</a></b></p>
            <a name="cfdebug_templates">
        
                <table border="1" cellpadding="2" cellspacing="0" class="cfdebug">
                <tr>
					<td class="cfdebug" align="center"><b>Total Time</b></td>
					<td class="cfdebug" align="center"><b>Avg Time</b></td>
					<td class="cfdebug" align="center"><b>Count</b></td>
					<td class="cfdebug"><b>Template</b></td>
				</tr>
                
    
                        <tr>
							
    	                        <td align="right" class="cfdebug" nowrap>95 ms</td>
							
                            <td align="right" class="cfdebug" nowrap>95 ms</td>
                            <td align="center" class="cfdebug" nowrap>1</td>
                            <td align="left" class="cfdebug" nowrap><img src='/CFIDE/debug/images/topdoc.gif' alt='top level' border='0'> <b>C:\Dev\admin\fai\ajax\send_new_fai_alert_email.cfm</b></td>
                        </tr>
                        
    
                        <tr>
							
    	                        <td align="right" class="cfdebug" nowrap>1 ms</td>
							
                            <td align="right" class="cfdebug" nowrap>1 ms</td>
                            <td align="center" class="cfdebug" nowrap>1</td>
                            <td align="left" class="cfdebug" nowrap>C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;Application.cfm</td>
                        </tr>
                        
    
                        <tr>
							
    	                        <td align="right" class="cfdebug" nowrap>1 ms</td>
							
                            <td align="right" class="cfdebug" nowrap>1 ms</td>
                            <td align="center" class="cfdebug" nowrap>1</td>
                            <td align="left" class="cfdebug" nowrap>CFC&#x5b; C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;fai&#x2f;lib&#x2f;JsonSerializer.cfc &#x7c; serialize&#x28;&#x5b;complex value&#x5d;&#x29; &#x5d; from C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;fai&#x2f;lib&#x2f;JsonSerializer.cfc</td>
                        </tr>
                        
    
                        <tr>
							
    	                        <td align="right" class="cfdebug" nowrap>0 ms</td>
							
                            <td align="right" class="cfdebug" nowrap>0 ms</td>
                            <td align="center" class="cfdebug" nowrap>1</td>
                            <td align="left" class="cfdebug" nowrap>C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;fai&#x2f;serverSettings.cfm</td>
                        </tr>
                        
    
                        <tr>
							
    	                        <td align="right" class="cfdebug" nowrap>0 ms</td>
							
                            <td align="right" class="cfdebug" nowrap>0 ms</td>
                            <td align="center" class="cfdebug" nowrap>1</td>
                            <td align="left" class="cfdebug" nowrap>C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;util&#x2f;_udf_admin.cfm</td>
                        </tr>
                        
    
                        <tr>
							
    	                        <td align="right" class="cfdebug" nowrap>0 ms</td>
							
                            <td align="right" class="cfdebug" nowrap>0 ms</td>
                            <td align="center" class="cfdebug" nowrap>1</td>
                            <td align="left" class="cfdebug" nowrap>CFC&#x5b; C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;fai&#x2f;lib&#x2f;JsonSerializer.cfc &#x7c; INIT&#x28;&#x29; &#x5d; from C&#x3a;&#x2f;Dev&#x2f;admin&#x2f;fai&#x2f;lib&#x2f;JsonSerializer.cfc</td>
                        </tr>
                        
                <tr>
					<td align="right" class="cfdebug" nowrap><i>37 ms</i></td><td colspan=2>&nbsp;</td>
                    <td align="left" class="cfdebug"><i>STARTUP, PARSING, COMPILING, LOADING, &amp; SHUTDOWN</i></td>
				</tr>
                <tr>
					<td align="right" class="cfdebug" nowrap><i>133 ms</i></td><td colspan=2>&nbsp;</td>
                    <td align="left" class="cfdebug"><i>TOTAL EXECUTION TIME</i></td>
				</tr>
                </table>
                <font color="red"><span class="template_overage">red = over 250 ms average execution time</span></font>
                </a>
            	
<p class="cfdebug"><hr/><b class="cfdebuglge"><a name="cfdebug_scopevars">Scope Variables</a></b></p>


<pre><b>Application Variables:</b>
applicationname=AppAdmin
datasource=HMESALESPORTAL
dbkey=
dsn=db_admin
fai_datasource=db_fai_dev
leads_datasource=db_leads
rootdir=C:\Dev\admin\
rooturl=http://localadmin.hme.com
</pre>

<pre><b>CGI Variables:</b>
AUTH_PASSWORD=
AUTH_TYPE=
AUTH_USER=
CERT_COOKIE=
CERT_FLAGS=
CERT_ISSUER=
CERT_KEYSIZE=
CERT_SECRETKEYSIZE=
CERT_SERIALNUMBER=
CERT_SERVER_ISSUER=
CERT_SERVER_SUBJECT=
CERT_SUBJECT=
CF_TEMPLATE_PATH=C:\Dev\admin\fai\ajax\send_new_fai_alert_email.cfm
CONTENT_LENGTH=1143
CONTENT_TYPE=application/json; charset=UTF-8
CONTEXT_PATH=
GATEWAY_INTERFACE=CGI/1.1
HTTPS=off
HTTPS_KEYSIZE=
HTTPS_SECRETKEYSIZE=
HTTPS_SERVER_ISSUER=
HTTPS_SERVER_SUBJECT=
HTTP_ACCEPT=application/json, text/javascript, */*; q=0.01
HTTP_ACCEPT_ENCODING=gzip, deflate
HTTP_ACCEPT_LANGUAGE=en-US,en;q=0.8
HTTP_CONNECTION=keep-alive
HTTP_COOKIE=__lc.visitor_id.1616871=S1478750349.588247ac9e; _ga=GA1.2.84118582.1477336333; __utma=231540480.84118582.1477336333.1485370904.1485804700.11; __utmz=231540480.1477336333.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); JSESSIONID=6EA746EDC5CC0A8A72C884CCC68DC8B3.cfusion; CFID=2522; CFTOKEN=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20; CFCLIENT_APPADMIN=; CFGLOBALS=urltoken%3DCFID%23%3D2522%26CFTOKEN%23%3D1bfe7918ecbae68d%2D12C04B14%2DD905%2D2EB3%2DA08A8F884ADF1F20%23lastvisit%3D%7Bts%20%272017%2D02%2D02%2018%3A49%3A03%27%7D%23hitcount%3D11673%23timecreated%3D%7Bts%20%272016%2D10%2D18%2011%3A38%3A55%27%7D%23cftoken%3D1bfe7918ecbae68d%2D12C04B14%2DD905%2D2EB3%2DA08A8F884ADF1F20%23cfid%3D2522%23
HTTP_HOST=localadmin.hme.com
HTTP_REFERER=http://localadmin.hme.com/fai/index.cfm?pg=faiReport
HTTP_URL=/fai/ajax/send_new_fai_alert_email.cfm
HTTP_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36
LOCAL_ADDR=127.0.0.1
PATH_INFO=
PATH_TRANSLATED=C:\Dev\admin\fai\ajax\send_new_fai_alert_email.cfm
QUERY_STRING=
REMOTE_ADDR=127.0.0.1
REMOTE_HOST=127.0.0.1
REMOTE_USER=
REQUEST_METHOD=POST
SCRIPT_NAME=/fai/ajax/send_new_fai_alert_email.cfm
SERVER_NAME=localadmin.hme.com
SERVER_PORT=80
SERVER_PORT_SECURE=0
SERVER_PROTOCOL=HTTP/1.1
SERVER_SOFTWARE=Microsoft-IIS/10.0
WEB_SERVER_API=
</pre>

<pre><b>Client Variables:</b>
cfid=2522
cftoken=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20
hitcount=11673
lastvisit={ts &apos;2017-02-02 18:49:03&apos;}
timecreated={ts &apos;2016-10-18 11:38:55&apos;}
urltoken=CFID=2522&amp;CFTOKEN=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20
</pre>

<pre><b>Cookie Variables:</b>
CFGLOBALS=urltoken=CFID#=2522&amp;CFTOKEN#=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20#lastvisit={ts &apos;2017-02-02 18:49:03&apos;}#hitcount=11673#timecreated={ts &apos;2016-10-18 11:38:55&apos;}#cftoken=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20#cfid=2522#
CFID=2522
CFTOKEN=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20
JSESSIONID=6EA746EDC5CC0A8A72C884CCC68DC8B3.cfusion
__lc.visitor_id.1616871=S1478750349.588247ac9e
__utma=231540480.84118582.1477336333.1485370904.1485804700.11
__utmz=231540480.1477336333.1.1.utmcsr
_ga=GA1.2.84118582.1477336333
</pre>

<pre><b>Session Variables:</b>
accountname=Howard Scott
cfid=2522
cftoken=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20
company=HME
department=Information Technologies
isloggedin=true
loginattempts=0
meta_title=Welcome to HME Admin - Howard Scott
sessionid=APPADMIN_2522_1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20
urltoken=CFID=2522&amp;CFTOKEN=1bfe7918ecbae68d-12C04B14-D905-2EB3-A08A8F884ADF1F20
user=hscott
user_email=hscott@hme.com
user_name=Howard Scott
</pre>

<font size="-1" class="cfdebug"><i>Debug Rendering Time: 7 ms</i></font><br />

	</td>
</tr>
</table>