
<cfdirectory action="list" directory="c:\faiAttachments" name="listRoot">

<cfoutput>
<cfloop query="listRoot">
	<cfscript>
    //i = find(" ",name);
    //writeoutput('.' & lcase(ListLast(name,'.')) & ' - ' & name & ' - ' & left(name,i) & ' - ' & right(name,len(name)-i) & '<br />');
    //writeoutput('c:\faiAttachments\' & name  & '<br />');
    //binary = FileReadBinary('c:\faiAttachments\' & name); 
    </cfscript>
</cfloop>

<cfscript>
	obj = getdbComponent();
	thefile =  '2069 FAI 2069 PN 172G742 CO.DOC';
	//thefile =  '1 FAI 1231(1).pdf';
	dir =  'c:\faiAttachments\';
	i = find(" ", thefile);
	fileName =  right(thefile, len(thefile) - i);
	prefix = '.' & lcase(ListLast(thefile, '.'));
	id = '9';
	writeoutput(fileName & '   ' & id & '   ' & prefix);
</cfscript>

<cffile action="readbinary" file= "#dir & thefile#" variable="binary">

<cfscript>

ret = obj.AddNewAttachment
(
	id = id, 
	file = binary,
	fileName = fileName,
	prefix = prefix 
);

//writedump(ret);

</cfscript>


</cfoutput>

