<!--- Retrive attachment from Database --->
<cfsetting showdebugoutput="no">
<cfscript>
//application/powerpoint	
	obj = getdbComponent();
	faiRow = obj.searchByFAINo('217');
	//writedump(faiRow);
</cfscript>

<cfoutput>

       <cfquery name="qry_cols" datasource="#APPLICATION.FAI_Datasource#">
            SELECT *
            FROM tbl_FAI
            WHERE id=1
        </cfquery>

<!---<cfloop list="#faiRow.columnList#"  index="col">--->
<cfloop list="#qry_cols.columnList#"  index="col">
<cfscript>
	//writeoutput(REReplace(REReplace(REReplace(lcase(col), '/', '', 'all'), ' ##', '', 'all'),'\s', '_', 'all') & '<br>');
	colNames = lcase(col);
		colNames = REReplace(colNames, '[\/,\?,\s##]', '', 'all');

	//colNames = REReplace(colNames, '\s', '', 'all');
	//colNames = REReplace(colNames, '-?\s+\?*##', '_', 'all');
	//colNames = REReplace(colNames, '\?', '', 'all');
	//colNames = REReplace(colNames, '##', '', 'all');
	//colNames = REReplace(colNames, '\/', '', 'all');
	//writeoutput('[' & col & '] AS ' & colNames & ',<br>');

	cols =REReplace(lcase(col), ' ', '&nbsp;', 'all');

	writeoutput(',[' & cols & '] = ISNULL(@' & colNames & ', ['& cols&'])<br>');
	//writeoutput(',[' & cols & ']<br>');

	//writeoutput('@' & colNames & ' NVARCHAR(255) = NULL,' & '<br>');


	//writeoutput('<~cfargument type="string" name="' & colNames & '" dbvarname="@' & colNames & '" required="no">' & '<br>');

	/*
	writeoutput('<~cfif isDefined("Arguments.' & colNames & '")>' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<~cfprocparam' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~cfsqltype="CF_SQL_VARCHAR"' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;type="In"' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value="##Arguments.' & colNames & '##"' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;null="##NOT len(trim(Arguments.' & colNames & '))##"' & '<br>');
    writeoutput('>' & '<br>');
    writeoutput('<~cfelse>' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;<~cfprocparam' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cfsqltype="CF_SQL_VARCHAR"' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type="In"' & '<br>');
    writeoutput('&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;null="Yes">' & '<br>');
	writeoutput('!' & '<br><br><br>');
	*/

</cfscript>
</cfloop>

</cfoutput>
