
<cfldap 
    action="query"
    server="powdc01.HME.COM"
    name="qry_getUser"
    start="DC=hme,DC=com"
	filter="(&(objectclass=user)(mail=*)(department=*))"
    username="hme\hscott"
    password="December2018!"
	attributes = "cn,sn,mail,givenname,SamAccountname,physicalDeliveryOfficeName,department,memberOf"
>



<cfquery dbtype="query" name="hme_users">
    select cn,sn,mail,givenname,SamAccountname AS Account,physicalDeliveryOfficeName AS Office,department
    from qry_getUser
    order by cn
</cfquery>
<cfdump var="#hme_users#">
<cfquery dbtype="query" name="hme_departments">
    select distinct department
    from hme_users
    order by department
</cfquery>
<cfdump var="#hme_departments#">
<cfquery dbtype="query" name="hme_offices">
    select distinct upper(Office)
    from hme_users
    where Office != '' AND Office != 'Poaway'
    order by Office
</cfquery>
<cfdump var="#hme_offices#">

<cfscript>
//# Dept-Sales
	serializer = new lib.JsonSerializer();
	writeOutput(serializer.serialize(hme_users));
	writeOutput(serializer.serialize(hme_departments));
	writeOutput(serializer.serialize(hme_offices));
</cfscript>




