
<cfldap 
    action="query"
    server="powdc01.HME.COM"
    name="qry_getUser"
    start="DC=hme,DC=com"
	<!---filter="(&(objectclass=user)(employeeID=2364))"--->
	<!---filter="(&(objectclass=user)(SamAccountname=hscott))"--->
	<!---filter="(&(objectclass=user)(SamAccountname=clange))"--->
	filter="(&(objectclass=person)(manager=*)(physicalDeliveryOfficeName=*))"
<!---	filter="(&(objectclass=person)(manager=cn=c,OU=Programmer,OU=IT Department,DC=HME,DC=com))"
--->	
	<!---filter="(&(objectclass=user)(cn=Michael Featheringham))"--->
 	<!---filter="(&(objectclass=user)(mail=*)(department=*)(manager=*))"--->
	<!---filter="(&(objectclass=user)(mail=*)(department=*)(manager=*))"--->
    username="hme\hscott"
    password="January2019!"
	attributes = "cn,sn,mail,givenname,SamAccountname,physicalDeliveryOfficeName,department,memberOf,manager,directReports,company,employeeID,ou"
>

<cfdump var="#qry_getUser#">

<!---<cfquery dbtype="query" name="hme_users">
    select *
    from qry_getUser
    order by cn
</cfquery>
<cfdump var="#hme_users#">--->
<!---<cfquery dbtype="query" name="hme_departments">
    select distinct department
    from hme_users
    order by department
</cfquery>
<cfdump var="#hme_departments#">
<cfquery dbtype="query" name="hme_offices">
    select distinct upper(Office)
    from hme_users
    where Office != '' AND Office != 'Poaway'
    order by Office
</cfquery>
<cfdump var="#hme_offices#">

<cfscript>
//# Dept-Sales
	serializer = new lib.JsonSerializer();
	writeOutput(serializer.serialize(hme_users));
	writeOutput(serializer.serialize(hme_departments));
	writeOutput(serializer.serialize(hme_offices));
</cfscript>--->




